<script src="https://kit.fontawesome.com/968b7ca54c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="container d-flex justify-content-center">
    <div class="kcard" *ngFor="let item of skillDetails | paginate: {itemsPerPage : 3, currentPage: page,totalItems:totalLength}
        ">
        <div class="card-body">
            <p class="card-text">
                <br>Domain : {{item.domainname}}
                <br>Technology : {{item.technologyname}}
            </p>
            <br>
            <h2>
                <i routerLink="/editskill/{{item.skillid}}" class="fa fa-pencil fa-sm"></i>
                <i (click)="cancelSkill(item.skillid)" class="fa fa-trash"></i>
                <!-- <i (click)="DeleteEducation(item.educationId)" class="fa fa-trash"></i> -->
            </h2>
        </div>
    </div>
    <!-- <div class="mt-3 pagination" *ngIf="totalLength!=0">
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div> -->
    <div *ngIf="totalLength==0">
        <p>No Results Found</p>

    </div>
</div>