<mat-dialog-content>
    <h1>Send Link&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <div class="input-group">
        <label for="percentage">To</label>
        <input type="text" name="percentage" id="percentage" placeholder="To Mail User"
         required />
      </div>
    <p>Do you really want to remove?</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button matDialogClose="cancel" color="primary">Cancel</button>
    <button mat-button matDialogClose="confirm" color="warn">Ok</button>
</mat-dialog-actions>
