<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center table-box">
  <form action="#" class="form" style="margin-top:110px; width: 60%;border-radius: 2px; border-color: black;">

    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div [routerLink]="['/personal']" class="progress-step " data-title="Personal"></div>
      <div [routerLink]="['/education']" class="progress-step " data-title="Education"></div>
      <div [routerLink]="['/project']"  class="progress-step " data-title="Project"></div>
      <div [routerLink]="['/skill']" class="progress-step " data-title="Skills"></div>
      <div class="progress-step progress-step-active" data-title="Achievements"></div>
    </div>

    <div class="form-step form-step-active">
      <h3>Achievements<button class="plus" (click)="toogletag()" (click)="footer()" > + </button></h3>
      <!-- <h3>Achievements</h3> -->
      <div *ngIf="showMe" >

        <label for="achievementTypeValue">Type</label>
        <select name="achievementTypeValue" id="achievementTypeValue" style="border-color: black;" [(ngModel)]="achievementTypeValue">
          <option value="0">Select type of Achievement</option>
          <option value="1">Award</option>
          <option value="2">Certification</option>
        </select>
      <br>
        <!-- <label for="Role">Role Played</label> -->
        <input type="file" (change)="fileChangeEvent($event)" name="Role" id="Role" style="border-color: black;"/>
      
      <div class="button">
        <a class="btn btn-next width-50 ml-auto"  (click)="submitAchievement()" (click)="toogletag()">Add</a>
      </div>
    </div>
      <br>
      <app-achievementcard ></app-achievementcard>
      <!-- <div class="row">
        <div class="col">
          <div class="card card-body">
            <p class="card-text">Type : Award <br>Image: award.png </p>
            <h2><a></a><i class="fa-solid fa-trash fa-sm"></i></h2>

          </div>
        </div>
        <div class="col">
          <div class="card card-body">
            <p class="card-text">Type : Award <br>Image: award.png </p>
            <h2><a></a><i class="fa-solid fa-trash fa-sm"></i></h2>

          </div>
        </div>
      </div> -->


      <div class="row">
        <a [routerLink]="['/skill']" class="btn btn-next width-50 ml-auto">Previous</a>

        <a [routerLink]="['/viewprofile']" class="btn btn-next width-50 ml-auto">Save as Draft</a>

        <a [routerLink]="['/viewprofile']" class="btn btn-next width-50 ml-auto">Submit</a>

      </div>
    </div>
  </form>
</div>