<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container d-flex justify-content-center table-box">
  <!-- <form action="#" class="form" (ngSubmit)="personaldata()" style="margin-top:110px; border:2px solid black; margin-bottom:5%; width: 60%; border-radius: 15px;"> -->
  <form [formGroup]="personalForm" class="form form-border">

    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div class="progress-step progress-step-active" data-title="Personal"></div>
      <div class="progress-step" data-title="Education"></div>
      <div class="progress-step" data-title="Project"></div>
      <div class="progress-step" data-title="Skills"></div>
      <div class="progress-step" data-title="Achievements"></div>
    </div>

    <!-- Steps -->
    <div class="form-step form-step-active">
      <h3>Personal Details</h3>
      <div  >

      <label for="personaldetails">Profile Photo</label>
      <input type="file" (change)="fileChangeEvent($event)" name="personaldetails" id="personaldetails" placeholder="Upload your Photo"
        style="border-color: black;" />
      <label class="text-error"> {{imageError}}</label>

      <label for="personaldetails">Objective</label>
      <textarea name="objective" id="Prodes" rows="4" cols="80"
        placeholder="  Enter Objective" [(ngModel)]="user.objective" style="width: 100%; border-color: black;"></textarea>
      <br>
      <label for="personaldetails">Date of Birth</label>
      <input type="date" name="dateofBirth" [(ngModel)]="user.dateOfBirth" id="personaldetails"
        style="border-color: black;" />
      <br>
      <label for="personaldetails">Nationality</label>
      <input type="text" id="personaldetails" name="nationality" [(ngModel)]="user.nationality"
        style="border-color: black;" placeholder="Enter your nationality" />


      <br>


      <label for="personaldetails">Date of Joining</label>
      <input type="date" name="dateofJoining" [(ngModel)]="user.dateOfJoining" id="personaldetails"
        style="border-color: black;" />
      <br> 
    </div>


    <div class="row">
      <!--<a [routerLink]="['/createprofile']" class="btn btn-next width-50 ml-auto">Previous</a>-->
      <a [routerLink]="['/viewprofile']" class="btn btn-next width-50 mlr-auto" style="text-color:white;" (click)="personalSubmit()">Save as
        Draft</a>
      <a [routerLink]="['/education']" class="btn  width-50 mlr-auto" (click)="personalSubmit()">Next</a>
      <!-- (click)="personalSubmit()" -->
    </div>
    </div>
  
    
  </form>
</div>