<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container d-flex justify-content-center table-box">
  <form [formGroup]="personalForm" class="form form-border">

    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div [routerLink]="['/personal']" class="progress-step progress-step-active" data-title="Personal"></div>
      <div [routerLink]="['/languagesocial']" class="progress-step " data-title="Language & SocialMedia"></div>
      <div [routerLink]="['/education']" class="progress-step " data-title="Education"></div>
      <div [routerLink]="['/project']" class="progress-step " data-title="Project"></div>
      <div [routerLink]="['/skill']" class="progress-step " data-title="Skills"></div>
      <div [routerLink]="['/achievement']" class="progress-step " data-title="Achievements"></div>
    </div>

    <div class="form-step form-step-active">
      <h3>Personal Details</h3>
      <div  >

      <label for="personaldetails">Profile Photo</label>
      <input type="file" (change)="fileChangeEvent($event)" name="personaldetails" id="personaldetails"
          placeholder="Upload your Photo" style="border-color: black;"
          [class.is-invalid]="(formSubmitted && personalForm.controls['ProfilePhoto'].invalid )||personalForm.controls['ProfilePhoto'].invalid && personalForm.controls['ProfilePhoto'].touched"
          formControlName="ProfilePhoto">
        <div
          *ngIf="(formSubmitted)||personalForm.controls['ProfilePhoto'].invalid && personalForm.controls['ProfilePhoto'].touched">
          <span class="text-danger" *ngIf="personalForm.controls['ProfilePhoto'].errors?.['required']">Upload your
            Photo</span>
        </div>
      <label class="text-error"> {{imageError}}</label>

      <label for="personaldetails">Objective</label>
       <textarea name="objective" id="Prodes" rows="4" cols="80" placeholder="  Enter Objective"
      [(ngModel)]="user.objective" style="width: 100%; border-color: black;"
      [class.is-invalid]="(formSubmitted && personalForm.controls['Objective'].invalid )||personalForm.controls['Objective'].invalid && personalForm.controls['Objective'].touched"
      formControlName="Objective"></textarea>
    <div *ngIf="(formSubmitted)||personalForm.controls['Objective'].invalid && personalForm.controls['Objective'].touched">
      <span class="text-danger" *ngIf="personalForm.controls['Objective'].errors?.['required']">Objective is
        required</span>
      <span class="text-danger" *ngIf="personalForm.controls['Objective'].errors?.['minlength']">Objective is too
        short</span>
      <span class="text-danger" *ngIf="personalForm.controls['Objective'].errors?.['maxlength']">Objective is too
        long</span>
    </div>
      <br>
      <label for="personaldetails">Date of Birth</label>
      <input type="date" name="dateofBirth" [(ngModel)]="user.dateOfBirth" id="personaldetails"
          style="border-color: black;"
          [class.is-invalid]="(formSubmitted && personalForm.controls['DateofBirth'].invalid)||personalForm.controls['DateofBirth'].invalid && personalForm.controls['DateofBirth'].touched"
          name="  DateofBirth" id="DateofBirth" class="form-select" name="DateofBirth" formControlName="DateofBirth">
        <div
          *ngIf="(formSubmitted)||personalForm.controls['DateofBirth'].invalid && personalForm.controls['DateofBirth'].touched">
          <span class="text-danger" *ngIf="personalForm.controls['DateofBirth'].errors?.['required']">Date of Birth is
            required</span>
        </div>
      <br>
      <label for="personaldetails">Nationality</label>
      <input type="text" id="personaldetails" name="nationality" [(ngModel)]="user.nationality"
          style="border-color: black;" placeholder="Enter your nationality"
          [class.is-invalid]="(formSubmitted && personalForm.controls['Nationality'].invalid )||personalForm.controls['Nationality'].invalid && personalForm.controls['Nationality'].touched"
          id="Nationality" formControlName="Nationality">
        <div
          *ngIf="(formSubmitted)||personalForm.controls['Nationality'].invalid && personalForm.controls['Nationality'].touched">
          <span class="text-danger" *ngIf="personalForm.controls['Nationality'].errors?.['required']">Nationality is
            required</span>
          <span class="text-danger" *ngIf="personalForm.controls['Nationality'].errors?.['minlength']">Nationality is
            too short</span>
          <span class="text-danger" *ngIf="personalForm.controls['Nationality'].errors?.['maxlength']">Nationality is
            too long</span>
        </div>
      <!-- <br>
      <label for="personaldetails">Mail Address</label>
      <input type="text" id="personaldetails" name="mailAddress" [(ngModel)]="user.mailAddress"
        style="border-color: black;" placeholder="Enter your mail address" /> -->


      <br>

      <label for="personaldetails">Date of Joining</label>
      <input type="date" name="dateofJoining" [(ngModel)]="user.dateOfJoining" id="personaldetails"
          style="border-color: black;"
          [class.is-invalid]="(formSubmitted && personalForm.controls['DateofJoining'].invalid)||personalForm.controls['DateofJoining'].invalid && personalForm.controls['DateofJoining'].touched"
          name="  DateofJoining" id="DateofJoining" class="form-select" name="DateofJoining"
          formControlName="DateofJoining">
        <div
          *ngIf="(formSubmitted)||personalForm.controls['DateofJoining'].invalid && personalForm.controls['DateofJoining'].touched">
          <span class="text-danger" *ngIf="personalForm.controls['DateofJoining'].errors?.['required']">Date of Joining
            is required</span>
        </div>
      <br>
    </div>
     


    <div class="row">
      <!--<a [routerLink]="['/createprofile']" class="btn btn-next width-50 ml-auto">Previous</a>-->
      <a  class="btn btn-next width-50 mlr-auto" style="text-color:white;" (click)="personalSubmit()">Save as
        Draft</a>
      <a [routerLink]="['/languagesocial']" class="btn  width-50 mlr-auto" (click)="personalSubmit()">Next</a>
      <!-- (click)="personalSubmit()" -->
    </div>
    </div>
  
    
  </form>
</div>