<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<script src="https://kit.fontawesome.com/968b7ca54c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="container d-flex justify-content-center table-box">
    
    <div class="main"> 
        <div class="home">
            <div class="search">
                <input type="text" name="search" placeholder="search by UserName"  [(ngModel)]="filter.username" >
                <label for="search"><i class="fas fa-search"></i></label>
            </div>
            <div class="filters">
                <div class="filter py-3 d-flex align-items-center justify-content-between">
                     Designation:<select class="h-100 py-2" name="Designation" [(ngModel)]="filter.designationId" required >
                        <option value="0">Select Designation</option>
                        <option *ngFor="let item of designationValue" value={{item.designationId}}>{{item.designationName}}</option>
                        <!-- <option value="CEO">CEO</option>
                        <option value="PM">PM</option>
                        <option value="TL">TL</option>
                        <option value="SSE">SSE</option>
                        <option value="SE">SE</option> -->
                        <!-- </div> -->
                    </select>
                </div>
                <!-- <div class="input-group">
                    <label for="College">College</label>
                    <select id="college" name="college" [(ngModel)]="user.collegeId" required>
                      <option value="">Select college/University</option>
                      <option *ngFor="let item of collegeValue" value={{item.collegeId}}>{{item.collegeName}}</option>
                    </select>
                  </div> -->
                
                <div class="filter py-3 d-flex align-items-center justify-content-between">
                    Domain:<select class="h-100 py-2" name="Domain" [(ngModel)]="filter.domainId" required >
                        <option value="0">Select Domain&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option *ngFor="let item of domainValue" value={{item.domainId}}>{{item.domainName}}</option>
                        <!-- <option value="IT">Data Science</option>
                        <option value="medium">AI</option>
                        <option value="large">Cloud Computing</option>
                        <option value="large">Cyber Security</option> -->
                    </select>
                
                </div>
                <div class="filter py-3 d-flex align-items-center justify-content-between">
                    Technology:<select class="h-100 py-2" name="Technology" [(ngModel)]="filter.technologyId" required >
                        <option value="0">Select Technology&nbsp;&nbsp;</option>
                        <option *ngFor="let item of technologyValue" value={{item.technologyId}}>{{item.technologyName}}</option>
                        <!-- <option value="NET">DotNet</option>
                        <option value="Java">Java</option>
                        <option value="Lamp">Lamp</option>
                        <option value="Lamp">RPA</option> -->
                    </select>
                
                </div>
                
                <div class="filter py-3 d-flex align-items-center justify-content-between">
                     College:<select class="h-100 py-2" name="College" [(ngModel)]="filter.collegeId" required >
                        <br>
                        <option value="0">Select College&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option *ngFor="let item of collegeValue" value={{item.collegeId}}>{{item.collegeName}}</option>
                        <!-- <option value="Krishna">Krishna</option>
                        <option value="Bannari">Bannari</option>
                        <option value="Kumaraguru">Kumaraguru</option>
                        <option value="Kumaraguru">PSNA</option> -->
                    </select>
                
                </div>
                
                <div class="filter py-3 d-flex align-items-center justify-content-between">
                    Experience:
                    <div class="">
                         <select class="h-50 py-2 " name="Min" [(ngModel)]="filter.maxExp" required >
                            <option value="0">Max&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option *ngFor="let exp of experience" [value]="exp">{{ exp }}</option>
                            <!-- <option value="0">Max</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="large">6</option>
                            <option value="large">7</option>
                            <option value="large">8</option>
                            <option value="large">9</option>
                            <option value="large">10</option>
                            <option value="large">11</option>
                            <option value="large">12</option>
                            <option value="large">13</option>
                            <option value="large">14</option>
                            <option value="large">15</option>
                            <option value="large">16</option>
                            <option value="large">17</option>
                            <option value="large">18</option>
                            <option value="large">19</option>
                            <option value="large">20</option> -->

                        </select>
                        <select class="h-50 py-2 mr-2" name="Max" [(ngModel)]="filter.minExp" required >
                            <option value="0">Min&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option *ngFor="let exp of experience" [value]="exp">{{ exp }}</option>
                            <!-- <option value="small">1</option>
                            <option value="medium">2</option>
                            <option value="large">3</option>
                            <option value="large">4</option>
                            <option value="large">5</option>
                            <option value="large">6</option>
                            <option value="large">7</option>
                            <option value="large">8</option>
                            <option value="large">9</option>
                            <option value="large">10</option>
                            <option value="large">11</option>
                            <option value="large">12</option>
                            <option value="large">13</option>
                            <option value="large">14</option>
                            <option value="large">15</option>
                            <option value="large">16</option>
                            <option value="large">17</option>
                            <option value="large">18</option>
                            <option value="large">19</option>
                            <option value="large">20</option> -->
                        </select>
                    
                    </div>
                </div>
                <div class="filter py-3 d-flex align-items-center justify-content-between">
                     Profile Status:<select class="h-100 py-2" name="Profile Status" [(ngModel)]="filter.profileStatusId" required >
                        <option value="0">Select Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option *ngFor="let item of profileValue" value={{item.profileStatusId}}>{{item.profileStatusName}}</option>
                        <!-- <option value="Approved">Approved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Waiting for Approval">Waiting</option> -->
                    </select>
                    <!-- <button type="button" class="btn btn-info">Info</button> -->
                
                </div>
            </div>
                <div>
                    <button id="button7" type="button" (click)="getProfileByFilters()"  (click)="toogletag()" style="background-color:#967bb6;color: white;">Apply</button>
                </div>
             <!-- <app-search></app-search>  -->
        </div> 
        <div class="middler">
            <app-filtercard [filterDetails]="filterValue" ></app-filtercard>
        </div>
        <!-- [data]="filteValue" -->
        <!-- <div class="middle">
            <div class="people">
                <div class="peoples">
                    <a [routerLink]="['/totalprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/totalprofile']"><h6 >{{dashboard["Total Profiles"]}}</h6></a>
                    <a [routerLink]="['/totalprofile']"><h6>Total Profiles</h6></a>
                </div>
                <div class="peoples people-net">
                    <a [routerLink]="['/approvedprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/approvedprofile']"><h6>{{dashboard["Approved Profiles"]}}</h6></a>
                    <a [routerLink]="['/approvedprofile']"><h6>Approved Profiles</h6></a>
                </div>
                <div class="peoples">
                    <a [routerLink]="['/declinedprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/declinedprofile']"><h6>{{dashboard["Rejected Profiles"]}}</h6></a>
                    <a [routerLink]="['/declinedprofile']"><h6>Rejected Profiles</h6></a>
                </div>
                <div class="peoples people-net">
                    <a [routerLink]="['/waitingprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/waitingprofile']"><h6>{{dashboard["Waiting Profiles"]}}</h6></a>
                    <a [routerLink]="['/waitingprofile']"><h6>Waiting Profiles</h6></a>
                </div>
            </div> 
        </div>-->
        <div *ngIf="showMe" class="filtertext"><h1>Please select the filter</h1></div>
    </div>
</div> 